.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.side-menu {
  background-color: green;
  width: 20vw;
  height: 90vh;
  float: left;
  margin-top: 0;
}
